.DS_Store
*.o
*.s
SDK/Libraries/OpenSSL/openssl/test
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
SDK/Libraries/OpenSSL/openssl/Makefile
SDK/Libraries/OpenSSL/openssl/Makefile.bak
SDK/Libraries/OpenSSL/openssl/apps/openssl
SDK/Libraries/OpenSSL/openssl/crypto/buildinf.h
SDK/Libraries/OpenSSL/openssl/crypto/opensslconf.h.bak
SDK/Libraries/OpenSSL/openssl/libcrypto.a
SDK/Libraries/OpenSSL/openssl/libssl.a
SDK/Products
SDK/Libraries/RabbitMQ/RabbitMQ/build
SDK/Libraries/*/Products
SDK/Libraries/*/build
Libraries/*/build
Libraries/*/Products
Products
